*{
    margin: 0;
    padding: 0;
}

.nav{
    background-color:black;
    align-content: center;
    /* padding-left: 100px; */
    justify-content: center;
    color: white;
}
.nav a{
    color: white;
}
.navbar{
    background-color: rgb(46, 45, 45);
    justify-content: center;
    color: white;
}

/* ------------------------------------------------- */
a{
    text-decoration: none;
    text-align: center;
}
.main-body {
    text-decoration: none;
    color: white;
    font-size: 45px;
    background-color: rgb(21, 21, 24);
}
.main-body p{
    color: white;
}
.btn-mid{
    justify-content: center;
    padding-left: 43%;

}

/* ---------------- */
.body2{
    background-color: rgb(250, 245, 244);

}
.body2 p{
    text-decoration: none;
    color: rgb(29, 25, 25);
    font-size: 45px;

}


/* last slide  */
.bottom-container{
    background-color: rgb(239, 244, 248);
}
.last-slide{
    margin:2%  20% 2% 20%;
    /* background-color: aliceblue; */
}
.last-slide p{
    font-size: small;
}
.container{
    display: flex;
    padding: 20px;
    margin:2%  20% 2% 20%;

}
.box{
    /* background-color: aquamarine; */
    padding-right: 10px;
    margin: 5px;
    justify-content: space-between;
}